@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
body{
    background-image: url("bg-image.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.mid_head{
    font-family: "Gamja Flower", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    /* font-size:x-small; */
}
.card_head{
    font-family: "Gamja Flower", sans-serif;
    font-weight: 500;
    font-size:xx-large;
}
.navbar-brand{
    font-family: "Gamja Flower", sans-serif;
    font-weight: 500;
    font-size:xx-large;
}
.nav-item{
    font-family: "Gamja Flower", sans-serif;
    font-weight: 500;
    font-size:xx-large;
}
/* .d-flex{
    font-family: "Gamja Flower", sans-serif;
    font-weight: 5000;
    font-size:xx-large;
} */